<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Customer Registration Form</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<i>Fill out the form - * is required</i>
<br><br>
<form th:action="@{/processForm}" th:object="${customer}" method="POST">
    First Name :
    <input type="text" th:field="*{firstName}" />

    <br><br>
    Last Name * :
    <input type="text" th:field="*{lastName}"/>


    <span class="error"
          th:errors="*{lastName}"
          th:if="${#fields.hasErrors('lastName')}"></span>
    <br><br>

    Free Passes : <input type="text" th:field="*{freePasses}"/>

    <span class="error"
          th:errors="*{freePasses}"
          th:if="${#fields.hasErrors('freePasses')}"></span>

    <br><br>

    Postal Code : <input type="text" th:field="*{postalCode}"/>

    <span class="error"
          th:errors="*{postalCode}"
          th:if="${#fields.hasErrors('postalCode')}"></span>

    <br><br>

    Course Code : <input type="text" th:field="*{cCode}"/>

    <span class="error"
          th:errors="*{cCode}"
          th:if="${#fields.hasErrors('cCode')}"></span>

    <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>